*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    display: block;
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

.container{
    width: 100%;
    height: 1200px;

    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0)), url(bg.webp) no-repeat;
    background-size: cover;

    color: white;
}

.header{
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 200px;
    height: 80px;
    font-style: 60px;
    font-weight: bold;
    text-align: center;
}    

.menu{
    width: 400px;
    height: 100px;

    display: flex;
    align-items: center;
}

.menu li{
    width: 100px;
    text-align: center;
}

.main{
    width: 700px;
    height: 500px;

    margin: 0 auto;
    margin-top: 200px;

    text-align: center;
}

.main h1{
    font-style: 40px;
    margin-bottom: 50px;
}

.main h2{
    font-style: 35px;
    margin-bottom: 50px;
}

.main p{
    font-style: 30px;
    margin-bottom: 100px;
}

.main button{
    font-style: 30px;
    width: 300PX;
    height: 100px;
    background-repeat: 30px;
    background-color: transparent;

    color: white;
    border: 3px solid white;
}

.main button:hover{
    background-color: white;
    color: black;
}

.about{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 200px;
}

.about h2{
    font-size: 30px;
    color: #ff6a6a;
}

.about h1{
    font-style: 50px;
}

.about .contents{
    width: 1200px;
    height: 500px;
    display: flex;
}

.about .left{
    width: 400px;
    height: 500px;
}

.about .left img{
    width: 400px;
    height: 500px;
}

.about .right{
    width: 800px;
    height: 500px;
    padding-left: 10px;
}

.about .right h3{
    font-size: 22px;
    color: #ff6a6a;
}

.about .right li{
    font-size: 22px;
    margin-top: 10px;
}

.fa-brands{
    font-size: 50px;
    margin-right: 10px;
}

.fa-youtube{
    color: red;
}

.fa-facebook{
    color: #3b5998;
}